{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
	<title>The Experience Project - {{ user.name }}</title>
	<link rel="stylesheet" href="{% static 'css/article.css' %}" />
	<script type="text/javascript" src="{% static 'js/articles.js' %}"></script>
{% endblock %}

{% block body %}
	<div class="content" ng-app="ViewArticleApp">
		<div class="self">
			<a href="{{ user.get_edit_url }}"><img src="{{ user.url }}" class="img-responsive" /></a>
			<div class="text">
				<h3 class="text-center">{{ user.name }}</h3>
			</div>
			<div class="footer btn-group btn-group-justified">
				<a href="{% url 'homepage' id=login_id name=login_name %}" class="btn btn-default">Back</a>
				<span class="btn btn-default" onclick="clickLogout()">Logout</span>
			</div>
		</div>
		{% include 'messages.html' %}
		{% verbatim %}
		<div class="articles row" ng-controller="ArticleViewCtrl">
		<div ng-repeat="article in articles">
			<a href="{{ article.url }}" target="_blank" ng-if="article.url"><div class="article panel panel-default">
				<div class="panel-heading">
					<span class="hidden">{{ article.article_id }}</span>
					<p class="small text-right" ng-if="article.author">{{ article.author }}</p>
					<h2 class="text-center">{{ article.title }}</h2>
				</div>
				<div class="panel-body" ng-if="article.reasons || article.quotes">
					<p ng-if="article.reasons">{{ article.reasons }}</p>
					<blockquote class="blockquote-reverse" ng-if="article.quotes">
							<p ng-repeat="quote in article.quotes">... {{ quote }} ...</p>
							<footer ng-if="article.author">Quotes from {{ article.author }}</footer>
						</blockquote>
				</div>
				<div class="panel-footer" ng-if="article.comments">
					<p class="text-muted">{{ article.comments }}</p>
				</div>
			</div></a>
			<div class="article panel panel-default" ng-if="!article.url">
				<div class="panel-heading">
					<span class="hidden">{{ article.article_id }}</span>
					<p class="small text-right" ng-if="article.author">{{ article.author }}</p>
					<h2 class="text-center">{{ article.title }}</h2>
				</div>
				<div class="panel-body" ng-if="article.reasons || article.quotes">
					<p ng-if="article.reasons">{{ article.reasons }}</p>
					<blockquote class="blockquote-reverse" ng-if="article.quotes">
							<p ng-repeat="quote in article.quotes">... {{ quote }} ...</p>
							<footer ng-if="article.author">Quotes from {{ article.author }}</footer>
						</blockquote>
				</div>
				<div class="panel-footer" ng-if="article.comments">
					<p class="text-muted">{{ article.comments }}</p>
				</div>
			</div>
		</div>
		</div>
		{% endverbatim %}
	</div>
	<script type="text/javascript">
		angular.module('ViewArticleApp').config(function ($sceDelegateProvider) {
		$sceDelegateProvider.resourceUrlWhitelist(['{% if settings.DEBUG %}http://{{ request.META.HTTP_HOST }}{% endif %}{{ STATIC_URL }}**'])
		}).constant('URLCONF', {
			STATIC_URL: "{{ STATIC_URL }}",
			articles: "{% url 'AJAX_articles' id=user.id name=user.name|slugify %}",
			remove: "{% url 'AJAX_delete' id=login_id name=login_name article_id=99999999999999 %}"
		});

		{% ifnotequal user.email "tantum.collins@gmail.com" %}
		function handleSessionResponse(response) {
			if (response.status && response.status != 'connected') {
				window.location.href = "{% url 'home' %}";
			}
		}

		function clickLogout() {
			FB.logout(handleSessionResponse);
		}
		{% else %}
		function clickLogout() {
			window.location.href = "{% url 'home' %}";
		}
		{% endifnotequal %}
	</script>
{% endblock %}