{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
	<title>The Experience Project - {{ user.name }}</title>
	<link rel="stylesheet" href="{% static 'css/article.css' %}" />
{% endblock %}

{% block body %}
	<div class="content">
		<div class="self">
			<a href="{{ user.get_edit_url }}"><img src="{{ user.url }}" class="img-responsive" /></a>
			<div class="text">
				<h3 class="text-center">{{ user.name }}</h3>
			</div>
			<div class="footer btn-group btn-group-justified">
				<a href="{% url 'homepage' id=login_id name=login_name %}" class="btn btn-default">Back</a>
				<span class="btn btn-default" onclick="clickLogout()">Logout</span>
			</div>
		</div>
		{% include 'messages.html' %}
		<div class="articles row">
			{% for article in articles %}
				{% if article.url %}<a href="{{ article.url }}" target="_blank">{% endif %}<div class="article panel panel-default">
					<div class="panel-heading">
						<span class="hidden">{{ article.article_id }}</span>
						{% if article.author %}<p class="small text-right">{{ article.author }}</p>{% endif %}
						<h2 class="text-center">{{ article.title }}</h2>
					</div>
					{% if article.reason or article.quotes %}<div class="panel-body">{% endif %}
						{% if article.reasons %}<p>{{ article.reasons }}</p>{% endif %}
						{% for quote in article.quotes %}
							{% if forloop.first %}<blockquote class="blockquote-reverse">{% endif %}
								<p>... {{ quote }} ...</p>
							{% if forloop.last %}
								<footer>Quotes from {{ article.author }}</footer>
							</blockquote>{% endif %}
						{% endfor %}
					{% if article.reason or article.quotes %}</div>{% endif %}
					{% if article.comments %}
					<div class="panel-footer">
						<p class="text-muted">{{ article.comments }}</p>
					</div>
					{% endif %}
				</div>{% if article.url %}</a>{% endif %}
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript">
		window.onload = function() {
			FB.getLoginStatus(handleSessionResponse);
		};

		function handleSessionResponse(response) {
			if (response.status && response.status != 'connected') {
				window.location.href = "{% url 'home' %}";
			}
		}

		function clickLogout() {
			FB.logout(handleSessionResponse);
		}
	</script>
{% endblock %}