{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
	<title>The Experience Project - {{ user.name }}</title>
	<link rel="stylesheet" href="{% static 'css/article.css' %}" />
	<link rel="stylesheet" href="{% static 'css/edit.css' %}" />
	<script type="text/javascript" src="{% static 'js/edit.js' %}"></script>
{% endblock %}

{% block body %}
	<div class="content" ng-app="EditArticleApp">
		<div class="self">
			<a href="{{ user.get_edit_url }}"><img src="{{ user.url }}" class="img-responsive" /></a>
			<div class="text">
				<h3 class="text-center">{{ user.name }}</h3>
			</div>
			<div class="footer btn-group btn-group-justified">
				<a href="{% url 'homepage' id=login_id name=login_name %}" class="btn btn-default">Back</a>
				<span class="btn btn-default" onclick="clickLogout()">Logout</span>
			</div>
		</div>
		{% include 'messages.html' %}
		<div class="well insert" ng-controller="ArticleFormCtrl" ng-model="article">
			<form class="form-horizontal" id="newArticleForm" action="{% url 'edit' id=login_id name=login_name %}" method="post">{% csrf_token %}{% verbatim %}
				<legend>New Article</legend>
				<input type="hidden" name="article_id" value="{{ article.article_id }}" />
				<div class="form-group">
					<label for="article_title" class="col-sm-1 control-label">Title</label>
					<div class="col-sm-11"><input type="text" class="form-control" placeholder="Monty Python and the Holy Grail" name="article_title" value="{{ article.title }}" /></div>
				</div>
				<div class="form-group">
					<label for="article_author" class="col-sm-1 control-label">Author</label>
					<div class="col-sm-11"><input type="text" class="form-control" placeholder="Brian" name="article_author" value="{{ article.author }}" /></div>
				</div>
				<div class="form-group">
					<label for="article_url" class="col-sm-1 control-label">URL</label>
					<div class="col-sm-11"><input type="text" class="form-control" placeholder="http://python.org" name="article_url" value="{{ article.url }}" /></div>
				</div>
				<div class="form-group">
					<label for="article_reasons" class="col-sm-1 control-label">Why Read?</label>
					<div class="col-sm-11"><textarea class="form-control" placeholder="Catching up on Mythology" name="article_reasons" rows="3" />{{ article.reasons }}</textarea></div>
				</div>
				<div class="form-group">
					<label for="article_comments" class="col-sm-1 control-label">Comments</label>
					<div class="col-sm-11"><textarea class="form-control" placeholder="Jolly good entertainment" name="article_comments" />{{ article.comments }}</textarea></div>
				</div>
				<div class="form-group" ng-repeat="quote in article.quotes track by $index">
					<label for="article_quote_{{ $index }}" class="col-sm-1 control-label">Quote</label>
					<div class="col-sm-10"><input type="text" class="form-control" placeholder="We are the knights who say Ni!" name="article_quote_{{ $index }}" value="{{ quote }}" ng-model="article.quotes[$index]" /></div>
					<span class="col-sm-1 btn btn-default" ng-click="removeQuote($index)"><span class="glyphicon glyphicon-minus"></span></span>
				</div>
				<div class="form-group" ng-model="quotes">
					<label class="col-sm-1 text-right control-label" ng-if="article.quotes.length === 0">Quote</label><span class="col-sm-1" ng-if="article.quotes.length !== 0"></span>
					<span class="col-sm-1 btn btn-default" ng-click="addQuote()"><span class="glyphicon glyphicon-plus"></span></span>
				</div>
				<div class="form-group">
					<button type="submit" class="col-sm-4 col-sm-offset-4 btn btn-primary" ng-if="!article.article_id">Submit</button>
					<span class="btn btn-default col-sm-2 col-sm-offset-4" ng-if="article.article_id" ng-click="clearForm()">Clear Form</span>
					<button type="submit" class="col-sm-2 btn btn-primary" ng-if="article.article_id">Submit</button>
				</div>
			</form>
		</div>
		{% endverbatim %}
		{% verbatim %}
		<div class="articles row" ng-controller="ArticleViewCtrl">
			<a href="" ng-repeat="article in articles" ng-click="publishArticle(article);"><div class="article panel panel-default">
				<div class="panel-heading">
					<span class="hidden">{{ article.article_id }}</span>
					<p class="small text-left col-sm-6" ng-if="article.author">{{ article.author }}</p>
					<p class="small text-right col-sm-6" ng-click="removeArticle(article.article_id)" ng-if="article.author"><span class="glyphicon glyphicon-remove"></span></p>
					<p class="small text-right col-sm-6 col-sm-offset-6" ng-click="removeArticle(article.article_id)" ng-if="!article.author"><span class="glyphicon glyphicon-remove"></span></p>
					<h2 class="text-center">{{ article.title }}</h2>
				</div>
				<div class="panel-body" ng-if="article.reasons || article.quotes">
					<p ng-if="article.reasons">{{ article.reasons }}</p>
					<blockquote class="blockquote-reverse" ng-if="article.quotes">
						<p ng-repeat="quote in article.quotes">... {{ quote }} ...</p>
						<footer ng-if="article.author">Quotes from {{ article.author }}</footer>
					</blockquote>
				</div>
				<div class="panel-footer" ng-if="article.comments">
					<p class="text-muted">{{ article.comments }}</p>
				</div>
			</div></a>
		</div>
		{% endverbatim %}
	</div>
	<script type="text/javascript">
		angular.module('EditArticleApp').config(function ($sceDelegateProvider) {
		$sceDelegateProvider.resourceUrlWhitelist(['{% if settings.DEBUG %}http://{{ request.META.HTTP_HOST }}{% endif %}{{ STATIC_URL }}**'])
		}).constant('URLCONF', {
			STATIC_URL: "{{ STATIC_URL }}",
			articles: "{% url 'AJAX_articles' id=login_id name=login_name %}",
			remove: "{% url 'AJAX_delete' id=login_id name=login_name article_id=99999999999999 %}"
		});

		{% ifnotequal user.email "tantum.collins@gmail.com" %}
		window.onload = function() {
			FB.getLoginStatus(handleSessionResponse);
		};

		function handleSessionResponse(response) {
			if (response.status && response.status != 'connected') {
				window.location.href = "{% url 'home' %}";
			}
		}

		function clickLogout() {
			FB.logout(handleSessionResponse);
		}
		{% else %}
		function clickLogout() {
			window.location.href = "{% url 'home' %}";
		}
		{% endifnotequal %}
	</script>
{% endblock %}
